html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 80%;
    background:  no-repeat center/80%;;

}

.inner{
position: relative;
width: 80%;

}
.inner-text{
    position: absolute;
    text-align: center;
    top: 50%;
}